In [245]:
# Deoendencies and Setup
import pandas as pd
import requests
from bs4 import BeautifulSoup
from splinter import Browser
import json
import knoema
import pymongo
from pprint import pprint
import xml.etree.ElementTree as et

# API: 1970 - 2018 data

In [1]:
pip install knoema

Collecting knoema
  Downloading knoema-1.1-py3-none-any.whl (22 kB)
Requirement already satisfied: pandas in c:\users\kayan\anaconda3\lib\site-packages (from knoema) (0.25.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\kayan\anaconda3\lib\site-packages (from pandas->knoema) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\kayan\anaconda3\lib\site-packages (from pandas->knoema) (1.16.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\kayan\anaconda3\lib\site-packages (from pandas->knoema) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\kayan\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->knoema) (1.12.0)
Installing collected packages: knoema
Successfully installed knoema-1.1
Note: you may need to restart the kernel to use updated packages.

In [171]:
# Retrieve carbon emission data using python api provided by the knoema - returned as a multi-index dataframe
# Unit: Mton CO2
carbon_data = knoema.get('EDGARED2019', timerange='1970-2018', frequency='A', Location='US;AF;AL;DZ;AO;AI;AG;AR;AM;AW;AU;AT;AZ;BS;BH;BD;BB;BY;BE;BZ;BJ;BM;BT;BO;BA;BW;BR;VG;BN;BG;BF;BI;CV;KH;CM;CA;KY;CF;TD;CL;CN;CO;KM;CG;CD;CK;CR;CI;HR;CU;CW;CY;CZ;DK;DJ;DM;DO;EC;EG;SV;GQ;ER;EE;ET;FK;FO;FJ;FI;KN.FM;GF;PF;GA;GM;GE;DE;GH;GI;GR;GL;GD;GP;GT;GN;GW;GY;HT;HN;HK;HU;IS;IN;ID;IR;IQ;IE;KN.IP;KN.IS;JM;JP;JO;KZ;KE;KI;KP;KR;KW;KG;LA;LV;LB;LS;LR;LY;LT;LU;MO;MK;MG;MW;MY;MV;ML;MT;MQ;MR;MU;MX;MD;MN;MA;MZ;MM;NA;NP;NL;NC;NZ;NI;NE;NG;NO;OM;PK;PW;PA;PG;PY;PE;PH;PL;PT;PR;QA;RE;RO;RU;RW;KN.SH;KN;LC;PM;VC;WS;ST;SA;SN;KN.A2;SC;SL;SG;SK;SI;SB;SO;ZA;KN.SA;LK;KN.SS;SR;SZ;SE;KN.SL;SY;TW;TJ;TZ;TH;TL;TG;TO;TT;TN;TR;TM;TC;UG;UA;AE;GB;UY;UZ;VU;VE;VN;EH;YE;ZM;ZW', Indicator='KN.F1', Type='All')
# print(carbon_data)

In [126]:
# Print index 
print(carbon_data.index)

DatetimeIndex(['1970-01-01', '1971-01-01', '1972-01-01', '1973-01-01',
               '1974-01-01', '1975-01-01', '1976-01-01', '1977-01-01',
               '1978-01-01', '1979-01-01', '1980-01-01', '1981-01-01',
               '1982-01-01', '1983-01-01', '1984-01-01', '1985-01-01',
               '1986-01-01', '1987-01-01', '1988-01-01', '1989-01-01',
               '1990-01-01', '1991-01-01', '1992-01-01', '1993-01-01',
               '1994-01-01', '1995-01-01', '1996-01-01', '1997-01-01',
               '1998-01-01', '1999-01-01', '2000-01-01', '2001-01-01',
               '2002-01-01', '2003-01-01', '2004-01-01', '2005-01-01',
               '2006-01-01', '2007-01-01', '2008-01-01', '2009-01-01',
               '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01',
               '2014-01-01', '2015-01-01', '2016-01-01', '2017-01-01',
               '2018-01-01'],
              dtype='datetime64[ns]', freq=None)

In [127]:
# Print column names to verify multiindex type
# list(carbon_data.columns.values)
print(carbon_data.columns)

MultiIndex([(      'United States', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (        'Afghanistan', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (            'Albania', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (            'Algeria', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (             'Angola', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (           'Anguilla', 'Fossil CO2 Emissions', 'All Type', 'A'),
            ('Antigua and Barbuda', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (          'Argentina', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (            'Armenia', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (              'Aruba', 'Fossil CO2 Emissions', 'All Type', 'A'),
            ...
            (     'United Kingdom', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (            'Uruguay', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (         'Uzbekistan', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (            'Vanuatu', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (          'Venezuela', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (            'Vietnam', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (     'Western Sahara', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (              'Yemen', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (             'Zambia', 'Fossil CO2 Emissions', 'All Type', 'A'),
            (           'Zimbabwe', 'Fossil CO2 Emissions', 'All Type', 'A')],
           names=['Location', 'Indicator', 'Type', 'Frequency'], length=208)

In [174]:
# Rename multiindex columns: Remove "'Fossil CO2 Emissions', 'All Type', 'A'"
# carbon_data.rename(columns)
carbon_data=carbon_data.droplevel(1, axis=1) 
# carbon_data=carbon_data.droplevel(2, axis=1) 
# carbon_data=carbon_data.droplevel(3, axis=1) 
carbon_data.head()

Location,United States,Afghanistan,Albania,Algeria,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Western Sahara,Yemen,Zambia,Zimbabwe
1970-01-01,4688.522395,1.466159,4.377893,18.925117,8.952848,0.002168,0.120810,91.085373,10.916012,0.021293,...,682.049211,5.424745,49.013895,0.095788,57.306130,13.407028,0.073311,1.501672,3.669060,9.647494
1971-01-01,4559.408967,1.465293,4.369894,22.310483,8.538195,0.002168,0.120804,91.564421,10.936795,0.021306,...,673.233374,5.407390,49.345390,0.095824,55.951990,13.342814,0.073310,1.514800,3.826292,9.595372
1972-01-01,4807.030715,1.510878,4.953242,34.368764,10.388669,0.002264,0.139838,92.639554,11.746672,0.024495,...,651.557870,5.870514,52.194826,0.100610,56.877450,14.358230,0.072442,1.792100,4.234740,9.146776
1973-01-01,4994.593321,1.473702,4.540402,46.469252,11.371827,0.002109,0.153410,97.086135,12.807500,0.026774,...,682.903801,5.542754,55.203486,0.113026,64.871195,14.535535,0.074264,2.209955,4.539008,10.593480
1974-01-01,4827.419694,1.895983,4.744196,39.294911,11.832747,0.002350,0.126704,96.879901,13.860662,0.022339,...,639.341631,5.368751,58.678526,0.140170,63.921355,9.833613,0.078865,2.195514,4.561470,10.284827

In [264]:
# Save data as a CSV
# print(carbon_data.to_csv())
carbon_data.to_csv('../ETL_project/Data/carbon_csv')

# XML: 1960 - 1969 data

In [ ]:
# get 1960 to 1969 data from woldbank.org

In [188]:
# Parsing of “students.xml” file starts at the root of the tree, namely the <data> element, 
# which contains the entire data structure.xtree = et.parse("students.xml")
xtree = et.parse("Data/worldbank.org(1960-2014)/API_EN.ATM.CO2E.KT_DS2_en_xml_v2_1073984.xml")
xroot = xtree.getroot()

In [ ]:
df_cols = ["Country or Area", "Item", "Year", "Value"]
rows = []

for node in xroot: 
    s_country = node.attrib.get("Country or Area")
    s_item = node.find("Item").text if node is not None else None
    s_year = node.find("Year").text if node is not None else None
    s_value = node.find("Value").text if node is not None else None
    
    rows.append({"Country or Area": s_country, "Item": s_item, 
                 "Year": s_year, "Value": s_value})

In [192]:
record = {"record":[]}
for elem in xroot:
    records = {}
    records["Country"] = elem.attrib['Country or Area']
    records["Item"] = elem.attrib['TagName']
    records["Year"] = elem.attrib['Count']
    records["Value"]= elem.attrib['Value']
    record["record"]. append(records)

df_users = pd.DataFrame(record["record"])
df_users.head()

KeyError: 'Country or Area'

In [194]:
xml_data = "Data/worldbank.org(1960-2014)/API_EN.ATM.CO2E.KT_DS2_en_xml_v2_1073984.xml"

MissingSchema: Invalid URL 'Data/worldbank.org(1960-2014)/API_EN.ATM.CO2E.KT_DS2_en_xml_v2_1073984.xml': No schema supplied. Perhaps you meant http://Data/worldbank.org(1960-2014)/API_EN.ATM.CO2E.KT_DS2_en_xml_v2_1073984.xml?

In [196]:
class XML2DataFrame:

    def __init__(self, xtree):
        self.root = ET.XML(xtree)

    def parse_root(self, root):
        """Return a list of dictionaries from the text and attributes of the
        children under this XML root."""
        return [parse_element(child) for child in root.getchildren()]

    def parse_element(self, element, parsed=None):
        """ Collect {key:attribute} and {tag:text} from thie XML
         element and all its children into a single dictionary of strings."""
        if parsed is None:
            parsed = dict()

        for key in element.keys():
            if key not in parsed:
                parsed[key] = element.attrib.get(key)
            if element.text:
                parsed[element.tag] = element.text                
            else:
                raise ValueError('duplicate attribute {0} at element {1}'.format(key, element.getroottree().getpath(element)))           

        """ Apply recursion"""
        for child in list(element):
            self.parse_element(child, parsed)
        return parsed

    def process_data(self):
        """ Initiate the root XML, parse it, and return a dataframe"""
        structure_data = self.parse_root(self.root)
        return pd.DataFrame(structure_data)

xml2df = XML2DataFrame(xtree)
xml_dataframe = xml2df.process_data()

NameError: name 'ET' is not defined

# Web Scrape: 2019 data

In [198]:
# Set executable path & assign Chrome Browser
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [199]:
# Visit URL through splinter
url = 'https://www.nationmaster.com/nmx/ranking/carbon-dioxide-emissions'
browser.visit(url)

In [200]:
# HTML Object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [275]:
# Visit the Mars Facts Site Using Pandas to Read
carbon_2019_df = pd.read_html('https://www.nationmaster.com/nmx/ranking/carbon-dioxide-emissions')[0]
print(carbon_2019_df)

# Assign the columns amd set index
carbon_2019_df.columns=["Rank", "", "2019-01-01", "Year", "YoY", "5-years CAGR", "View"]
# carbon_2019_df.set_index("Description")
carbon_2019_df

     #              66 Countries  Million Metric Tons  Last     YoY  \
0    1                 #1  China              9622.14  2019  +2.0 %
1    2         #2  United States              5076.20  2019  -1.3 %
2    3                 #3  India              2525.08  2019  +1.9 %
3    4                #4  Russia              1530.60  2019  -1.3 %
4    5                 #5  Japan              1150.06  2019  +0.1 %
..  ..                       ...                  ...   ...     ...
61  62              #62  Denmark                34.08  2019  -4.4 %
62  63             #63  Slovakia                32.29  2019  -1.7 %
63  64           #64  Azerbaijan                32.14  2019  +1.2 %
64  65  #65  Trinidad and Tobago                20.96  2019  +1.2 %
65  66            #66  Lithuania                11.94  2019  -1.7 %

   5âyears CAGR Unnamed: 6
0          +0.8 %  View data
1          -0.9 %  View data
2          +3.9 %  View data
3          +0.0 %  View data
4          -1.5 %  View data
..            ...        ...
61         -3.2 %  View data
62         +1.6 %  View data
63         +0.7 %  View data
64         -1.5 %  View data
65         +1.7 %  View data

[66 rows x 7 columns]

,Rank,,2019-01-01,Year,YoY,5-years CAGR,View
0,1,#1 China,9622.14,2019,+2.0 %,+0.8 %,View data
1,2,#2 United States,5076.20,2019,-1.3 %,-0.9 %,View data
2,3,#3 India,2525.08,2019,+1.9 %,+3.9 %,View data
3,4,#4 Russia,1530.60,2019,-1.3 %,+0.0 %,View data
4,5,#5 Japan,1150.06,2019,+0.1 %,-1.5 %,View data
...,...,...,...,...,...,...,...
61,62,#62 Denmark,34.08,2019,-4.4 %,-3.2 %,View data
62,63,#63 Slovakia,32.29,2019,-1.7 %,+1.6 %,View data
63,64,#64 Azerbaijan,32.14,2019,+1.2 %,+0.7 %,View data
64,65,#65 Trinidad and Tobago,20.96,2019,+1.2 %,-1.5 %,View data
65,66,#66 Lithuania,11.94,2019,-1.7 %,+1.7 %,View data

In [276]:
del carbon_2019_df['Rank']
del carbon_2019_df['YoY']
del carbon_2019_df['5-years CAGR']
del carbon_2019_df['View']
del carbon_2019_df['Year']

In [277]:
# Set Location as the index
carbon_2019_df.set_index('', inplace=True)
carbon_2019_df

                          2019-01-01

#1  China                    9622.14
#2  United States            5076.20
#3  India                    2525.08
#4  Russia                   1530.60
#5  Japan                    1150.06
...                              ...
#62  Denmark                   34.08
#63  Slovakia                  32.29
#64  Azerbaijan                32.14
#65  Trinidad and Tobago       20.96
#66  Lithuania                 11.94

[66 rows x 1 columns]

In [278]:
# Transpose carbon_2019_df 
carbon_df_transposed = carbon_2019_df.transpose()
carbon_df_transposed

,#1 China,#2 United States,#3 India,#4 Russia,#5 Japan,#6 Germany,#7 South Korea,#8 Iran,#9 Saudi Arabia,#10 Canada,...,#57 Ireland,#58 Ecuador,#59 Switzerland,#60 New Zealand,#61 Norway,#62 Denmark,#63 Slovakia,#64 Azerbaijan,#65 Trinidad and Tobago,#66 Lithuania
2019-01-01,9622.14,5076.2,2525.08,1530.6,1150.06,728.89,705.56,663.32,594.35,551.84,...,39.05,37.25,36.55,36.24,35.27,34.08,32.29,32.14,20.96,11.94

In [279]:
# Rename column names 
print(carbon_df_transposed.columns)

Index(['#1  China', '#2  United States', '#3  India', '#4  Russia',
       '#5  Japan', '#6  Germany', '#7  South Korea', '#8  Iran',
       '#9  Saudi Arabia', '#10  Canada', '#11  Indonesia', '#12  Mexico',
       '#13  Brazil', '#14  South Africa', '#15  Australia', '#16  Turkey',
       '#17  United Kingdom', '#18  Italy', '#19  Poland', '#20  France',
       '#21  Thailand', '#22  Spain', '#23  Taiwan',
       '#24  United Arab Emirates', '#25  Malaysia', '#26  Kazakhstan',
       '#27  Singapore', '#28  Egypt', '#29  Vietnam', '#30  Netherlands',
       '#31  Pakistan', '#32  Argentina', '#33  Ukraine', '#34  Algeria',
       '#35  Philippines', '#36  Belgium', '#37  Venezuela', '#38  Qatar',
       '#39  Uzbekistan', '#40  Czech Republic', '#41  Kuwait',
       '#42  Colombia', '#43  Chile', '#44  Bangladesh', '#45  Turkmenistan',
       '#46  Greece', '#47  Israel', '#48  Romania', '#49  Austria',
       '#50  Belarus', '#51  Portugal', '#52  Peru', '#53  Hungary',
       '#54  Finland', '#55  Sweden', '#56  Bulgaria', '#57  Ireland',
       '#58  Ecuador', '#59  Switzerland', '#60  New Zealand', '#61  Norway',
       '#62  Denmark', '#63  Slovakia', '#64  Azerbaijan',
       '#65  Trinidad and Tobago', '#66  Lithuania'],
      dtype='object', name='')

In [281]:
# Rename column names
carbon2019_renamed_df = carbon_df_transposed.rename(
    columns=
    {
        '#1  China': "China", '#2  United States': 'United States', '#3  India': 'India', '#4  Russia': 'Russia',
       '#5  Japan': 'Japan', '#6  Germany': 'Germany', '#7  South Korea': 'South Korea', '#8  Iran': 'Iran',
       '#9  Saudi Arabia': 'Saudi Arabia', '#10  Canada': 'Canada', '#11  Indonesia': 'Indonesia', '#12  Mexico':'Mexico',
       '#13  Brazil': 'Brazil', '#14  South Africa': 'South Africa', '#15  Australia': 'Australia', '#16  Turkey': 'Turkey',
       '#17  United Kingdom': 'United Kingdom', '#18  Italy': 'Italy', '#19  Poland': 'Poland', '#20  France':'France',
       '#21  Thailand':'Thailand', '#22  Spain':'Spain', '#23  Taiwan':'Taiwan',
       '#24  United Arab Emirates':'United Arab Emirates', '#25  Malaysia':'Malaysia', '#26  Kazakhstan':'Kazakhstan',
       '#27  Singapore':'Singapore', '#28  Egypt':'Egypt', '#29  Vietnam':'Vietnam', '#30  Netherlands':'Netherlands',
       '#31  Pakistan':'Pakistan', '#32  Argentina':'Argentina', '#33  Ukraine':'Ukraine', '#34  Algeria':'Algeria',
       '#35  Philippines':'Philippines', '#36  Belgium':'Belgium', '#37  Venezuela':'Venezuela', '#38  Qatar':'Qatar',
       '#39  Uzbekistan':'Uzbekistan', '#40  Czech Republic':'Czech Republic', '#41  Kuwait':'Kuwait',
       '#42  Colombia':'Colombia', '#43  Chile':'Chile', '#44  Bangladesh':'Bangladesh', '#45  Turkmenistan':'Turkmenistan',
       '#46  Greece':'Greece', '#47  Israel':'Israel', '#48  Romania':'Romania', '#49  Austria':'Austria',
       '#50  Belarus':'Belarus', '#51  Portugal':'Portugal', '#52  Peru':'Peru', '#53  Hungary':'Hungary',
       '#54  Finland':'Finland', '#55  Sweden':'Sweden', '#56  Bulgaria':'Bulgaria', '#57  Ireland':'Ireland',
       '#58  Ecuador':'Ecuador', '#59  Switzerland':'Switzerland', '#60  New Zealand':'New Zealand', '#61  Norway':'Norway',
       '#62  Denmark':'Denmark', '#63  Slovakia':'Slovakia', '#64  Azerbaijan':'Azerbaijan',
       '#65  Trinidad and Tobago':'Trinidad and Tobago', '#66  Lithuania':'Lithuania'
    }
)
carbon2019_renamed_df

,China,United States,India,Russia,Japan,Germany,South Korea,Iran,Saudi Arabia,Canada,...,Ireland,Ecuador,Switzerland,New Zealand,Norway,Denmark,Slovakia,Azerbaijan,Trinidad and Tobago,Lithuania
2019-01-01,9622.14,5076.2,2525.08,1530.6,1150.06,728.89,705.56,663.32,594.35,551.84,...,39.05,37.25,36.55,36.24,35.27,34.08,32.29,32.14,20.96,11.94

In [282]:
# Save as CSV 
carbon2019_renamed_df.to_csv('../ETL_project/Data/carbon2019_csv')

# Merge All Data

In [285]:
# Read saved CSV 1970-2018 data
carbon_data_df = pd.read_csv('../ETL_project/Data/carbon_csv')
# print(carbon_data_df)
carbon_data_df = carbon_data_df.rename(columns={"Unnamed: 0": ""})
carbon_data_df

,,United States,Afghanistan,Albania,Algeria,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Western Sahara,Yemen,Zambia,Zimbabwe
0,1970-01-01,4688.522395,1.466159,4.377893,18.925117,8.952848,0.002168,0.120810,91.085373,10.916012,...,682.049211,5.424745,49.013895,0.095788,57.306130,13.407028,0.073311,1.501672,3.669060,9.647494
1,1971-01-01,4559.408967,1.465293,4.369894,22.310483,8.538195,0.002168,0.120804,91.564421,10.936795,...,673.233374,5.407390,49.345390,0.095824,55.951990,13.342814,0.073310,1.514800,3.826292,9.595372
2,1972-01-01,4807.030715,1.510878,4.953242,34.368764,10.388669,0.002264,0.139838,92.639554,11.746672,...,651.557870,5.870514,52.194826,0.100610,56.877450,14.358230,0.072442,1.792100,4.234740,9.146776
3,1973-01-01,4994.593321,1.473702,4.540402,46.469252,11.371827,0.002109,0.153410,97.086135,12.807500,...,682.903801,5.542754,55.203486,0.113026,64.871195,14.535535,0.074264,2.209955,4.539008,10.593480
4,1974-01-01,4827.419694,1.895983,4.744196,39.294911,11.832747,0.002350,0.126704,96.879901,13.860662,...,639.341631,5.368751,58.678526,0.140170,63.921355,9.833613,0.078865,2.195514,4.561470,10.284827
5,1975-01-01,4612.546577,1.693211,4.888888,35.704459,10.929404,0.002584,0.159967,95.506561,15.244171,...,618.404721,5.700758,65.304380,0.117481,60.799918,9.885531,0.082973,2.102490,4.732814,9.072878
6,1976-01-01,4907.271162,1.609170,5.256256,46.316389,7.316239,0.002434,0.141360,101.550384,15.745712,...,624.012372,5.875618,66.452527,0.111641,65.035830,6.047064,0.082878,2.562972,4.725482,10.036575
7,1977-01-01,5071.365566,1.868496,5.543410,51.285003,12.056412,0.002537,0.156407,105.106825,16.337486,...,633.958466,5.786274,69.213465,0.118066,67.279076,6.697305,0.085436,2.599330,4.273470,9.071985
8,1978-01-01,5066.244675,1.614685,6.466902,56.554711,14.237736,0.002902,0.162084,107.052133,16.947145,...,631.846324,5.901288,71.719928,0.116590,72.235434,14.684777,0.083649,2.863784,4.088013,8.728059
9,1979-01-01,5105.068431,1.741531,7.589628,56.523209,14.202955,0.003213,0.152236,112.660680,17.610846,...,664.185471,6.385636,74.296521,0.132306,82.062599,15.414051,0.094427,3.074409,3.703156,9.001202
10,1980-01-01,4877.371629,1.718685,7.688917,56.591869,14.340721,0.004413,0.151105,109.813582,18.722285,...,607.146363,5.728208,79.467493,0.135931,89.782332,16.111273,0.103773,3.918146,3.683268,9.615618
11,1981-01-01,4807.962053,2.030437,6.700622,53.239967,13.254327,0.006640,0.134367,106.629362,19.120848,...,587.376957,5.168740,83.151778,0.148596,90.772400,16.527586,0.094940,3.937666,3.374798,9.201246
12,1982-01-01,4562.165908,1.963809,6.917601,54.893069,12.793799,0.007019,0.176117,105.154134,19.635804,...,573.901303,4.783249,86.601512,0.136549,91.518641,17.875738,0.135493,4.427958,3.275800,8.827663
13,1983-01-01,4541.549765,2.639973,7.420048,57.452875,13.250176,0.006089,0.102279,106.861070,19.732237,...,565.616692,3.831281,89.575482,0.072828,90.472341,19.226532,0.138378,4.876410,3.200337,8.763390
14,1984-01-01,4751.807295,2.647074,8.030469,60.496620,13.388947,0.005801,0.143644,106.571378,19.823009,...,549.543211,3.450500,92.637778,0.121397,91.236777,19.305054,0.134063,4.988249,3.152941,9.217897
15,1985-01-01,4777.184181,3.353386,7.658030,69.796266,14.139585,0.003671,0.156559,100.196443,20.058753,...,576.893056,3.227211,97.033401,0.134862,91.742726,19.431242,0.138902,5.330302,3.135716,10.656783
16,1986-01-01,4736.598397,3.132055,7.737040,72.640494,14.288196,0.003155,0.168406,110.362521,20.195736,...,590.914325,3.178509,100.943799,0.116496,92.547193,21.311676,0.148401,5.633880,3.226983,12.231913
17,1987-01-01,4893.132185,2.771318,8.009933,69.806863,14.553180,0.006126,0.221704,115.145204,20.447216,...,596.643557,3.577499,104.572546,0.131144,92.269364,23.798648,0.189242,6.180893,3.187989,15.618068
18,1988-01-01,5114.119641,2.661867,7.954497,70.546184,15.004222,0.005797,0.230438,121.366517,20.463798,...,597.186175,4.552866,107.566190,0.132811,93.503674,23.252513,0.178440,6.655723,3.469926,15.103248
19,1989-01-01,5171.361449,2.525429,7.815402,71.006140,15.166736,0.006148,0.221928,119.320395,20.101009,...,582.791519,4.904351,109.084880,0.126300,99.591068,19.928187,0.162223,6.870677,3.589678,15.306994
20,1990-01-01,5063.855434,2.545580,6.583267,67.969526,11.296487,0.006114,0.223432,112.442077,20.699069,...,584.221290,3.893692,123.375790,0.130202,102.462431,20.187261,0.144003,6.887222,2.954907,17.178483
21,1991-01-01,5022.250719,2.456108,4.387420,72.077332,11.849179,0.007579,0.238086,115.760217,21.559445,...,592.262537,4.415007,126.642534,0.065505,101.049787,20.163930,0.171218,8.679468,3.070553,18.915730
22,1992-01-01,5103.479790,1.687267,2.382779,79.998047,12.195023,0.007903,0.239459,119.334896,11.003952,...,578.773899,4.837069,119.222812,0.061634,103.392834,21.219142,0.152328,9.374138,3.066054,19.029640
23,1993-01-01,5222.514881,1.544665,2.239839,80.252385,12.211922,0.009952,0.228077,119.739453,5.179679,...,563.040088,4.585552,119.852475,0.060315,110.148297,24.886375,0.151053,8.452489,2.747886,17.449804
24,1994-01-01,5305.730607,1.284150,2.383351,77.714189,11.565581,0.013131,0.262787,129.535609,2.883558,...,556.827524,4.313110,113.865160,0.043970,110.566850,29.130540,0.152372,9.787468,2.348017,16.344216
25,1995-01-01,5357.610765,1.144301,2.110834,80.304695,13.038053,0.016396,0.260037,129.477793,3.618016,...,547.718232,4.720436,101.802993,0.045504,119.717714,33.638291,0.157794,10.917534,2.322116,16.111498
26,1996-01-01,5505.137689,1.160863,2.100444,80.128348,15.771415,0.016213,0.262645,140.539301,2.675208,...,567.026917,5.519548,103.173067,0.047414,127.884845,37.819808,0.161840,11.184170,1.952056,15.512912
27,1997-01-01,5678.971047,1.149571,1.627619,78.415294,16.496073,0.013564,0.249609,144.861869,3.431493,...,543.381220,5.601168,105.062558,0.047806,133.658008,43.831182,0.173499,12.050703,2.531920,14.561571
28,1998-01-01,5692.989293,1.160930,1.945744,78.476788,17.132328,0.012449,0.245584,148.054950,3.561971,...,546.189663,5.805378,119.570018,0.052344,135.397396,48.945456,0.153722,12.844453,2.336835,14.771746
29,1999-01-01,5712.255627,1.113620,3.118440,81.689896,18.131781,0.011751,0.256810,152.229630,3.198651,...,542.149238,6.819419,120.737792,0.049845,124.862605,50.227121,0.158694,14.498686,1.916277,16.658223
30,2000-01-01,5915.630723,1.091577,3.263268,84.453994,16.614894,0.015531,0.243764,150.566253,3.661387,...,549.203498,5.450473,121.174850,0.056947,132.587646,55.528957,0.206481,15.498838,1.949369,14.496876
31,2001-01-01,5858.215600,0.970951,3.470038,82.708346,16.294817,0.015909,0.242730,140.938238,3.727360,...,562.234074,5.017938,123.237745,0.060239,139.593065,61.255850,0.210287,16.524669,1.965441,14.673475
32,2002-01-01,5778.721634,0.842352,4.020838,87.111237,16.034643,0.010858,0.241170,133.083054,3.196347,...,546.905185,4.624734,128.608820,0.056131,136.730908,72.127196,0.207123,16.569309,2.064423,13.285712
33,2003-01-01,5854.523205,0.663844,4.232361,93.707535,17.448020,0.014105,0.274879,146.162819,3.569323,...,559.958147,4.585279,123.578395,0.054765,136.818147,76.610832,0.219359,19.289368,2.231215,10.871093
34,2004-01-01,5937.553609,0.757555,4.421754,93.251940,17.503115,0.013471,0.283698,162.426416,3.834541,...,560.006380,5.709876,120.951904,0.061287,144.258553,90.604455,0.227088,20.195727,2.298605,10.331810
35,2005-01-01,5946.607167,1.063095,4.196539,98.767608,16.217302,0.013661,0.282773,165.479224,4.541820,...,558.482434,5.499448,116.379976,0.062613,152.478215,99.240540,0.226644,21.777270,2.458268,11.390123
36,2006-01-01,5841.168072,1.160080,4.154494,104.003230,16.937292,0.012812,0.273887,176.177566,4.580137,...,558.968566,6.432121,119.446248,0.057591,149.455203,101.986968,0.226400,22.705380,2.378992,10.579213
37,2007-01-01,5919.491714,1.203023,4.263053,106.541896,17.421734,0.012355,0.282958,183.905579,5.280624,...,549.231781,5.938766,119.734652,0.105352,147.200583,112.866424,0.243427,25.380301,1.745815,10.408159
38,2008-01-01,5730.576010,2.707420,4.220078,111.419957,19.672835,0.015268,0.288078,195.964010,5.788456,...,534.596008,7.823428,119.762890,0.058882,177.593684,124.326213,0.245025,25.987098,1.867825,8.050105
39,2009-01-01,5314.842145,4.248142,4.308789,114.677988,21.491206,0.020161,0.335608,185.918675,4.649946,...,483.262088,7.983924,108.437480,0.111614,178.706442,138.730752,0.258750,29.024687,2.036439,7.757873
40,2010-01-01,5555.444090,5.641922,4.592990,116.408456,24.018474,0.024005,0.356457,191.223144,4.456008,...,500.562116,6.383638,107.453413,0.120213,189.006335,154.679966,0.265536,27.175280,2.239055,9.995111
41,2011-01-01,5425.111739,6.923214,4.988055,122.761349,24.983535,0.026008,0.353017,199.303512,5.082648,...,460.942091,7.679595,115.941668,0.151059,170.836971,154.562733,0.312064,22.845059,2.552793,11.976472
42,2012-01-01,5244.133269,9.662172,4.543900,132.331115,25.221763,0.026023,0.615469,204.734320,5.867241,...,484.450099,8.675341,117.683463,0.214955,190.155753,153.242675,0.325751,21.518648,3.579864,12.483545
43,2013-01-01,5316.463259,16.311808,4.657987,135.762931,27.426121,0.027941,0.635860,201.081856,5.552477,...,468.971406,7.534626,105.570622,0.128766,178.555443,159.428876,0.267194,28.352236,3.801032,12.690498
44,2014-01-01,5389.262507,10.329014,5.064173,146.486768,29.764167,0.027896,0.568258,208.889800,5.532987,...,429.998585,6.678539,107.049755,0.078508,177.386223,174.941642,0.242155,26.911149,4.275357,12.567990
45,2015-01-01,5225.394249,9.800058,4.709439,156.269210,32.737569,0.028005,0.624131,211.997893,5.006118,...,413.023793,6.742024,104.912598,0.077615,158.539053,202.770459,0.253520,14.286612,4.442017,12.776528
46,2016-01-01,5161.072868,9.938866,4.689464,156.328906,33.548279,0.028090,0.631629,213.707604,5.367386,...,390.449933,6.648998,101.724574,0.078356,145.803765,242.065191,0.258331,11.410842,4.700361,11.472800
47,2017-01-01,5128.440907,10.187785,4.888502,157.330772,32.052138,0.028323,0.637178,213.709051,5.209667,...,379.384716,6.701716,104.083404,0.080353,133.131352,242.460757,0.273070,11.542397,5.054812,12.812133
48,2018-01-01,5275.477845,10.476969,4.802468,165.331981,30.047294,0.028548,0.641810,210.161969,5.787612,...,371.969847,6.934723,101.897315,0.082481,120.210671,271.474096,0.283864,11.767991,5.166280,13.044641

In [287]:
# carbon_data_df.set_index('', inplace=True)
# carbon_data_df

In [310]:
# Read saved CSV 2019 data
carbon2019_df = pd.read_csv('../ETL_project/Data/carbon2019_csv')
# print(carbon2019_df)
carbon2019_df = carbon2019_df.rename(columns={"Unnamed: 0": ""})
carbon2019_df.set_index('', inplace=True)
carbon2019_df

,China,United States,India,Russia,Japan,Germany,South Korea,Iran,Saudi Arabia,Canada,...,Ireland,Ecuador,Switzerland,New Zealand,Norway,Denmark,Slovakia,Azerbaijan,Trinidad and Tobago,Lithuania
,,,,,,,,,,,,,,,,,,,,,
2019-01-01,9622.14,5076.2,2525.08,1530.6,1150.06,728.89,705.56,663.32,594.35,551.84,...,39.05,37.25,36.55,36.24,35.27,34.08,32.29,32.14,20.96,11.94

In [311]:
# Locate 66 countries in 1970-2018 data(208 countries)
reduced_countries_df = carbon_data_df.loc[:,['China', 'United States', 'India', 'Russia', 'Japan', 'Germany',
       'South Korea', 'Iran', 'Saudi Arabia', 'Canada', 'Indonesia', 'Mexico',
       'Brazil', 'South Africa', 'Australia', 'Turkey', 'United Kingdom',
       'Italy', 'Poland', 'France', 'Thailand', 'Spain', 'Taiwan',
       'United Arab Emirates', 'Malaysia', 'Kazakhstan', 'Singapore', 'Egypt',
       'Vietnam', 'Netherlands', 'Pakistan', 'Argentina', 'Ukraine', 'Algeria',
       'Philippines', 'Belgium', 'Venezuela', 'Qatar', 'Uzbekistan',
       'Czech Republic', 'Kuwait', 'Colombia', 'Chile', 'Bangladesh',
       'Turkmenistan', 'Greece', 'Israel', 'Romania', 'Austria', 'Belarus',
       'Portugal', 'Peru', 'Hungary', 'Finland', 'Sweden', 'Bulgaria',
       'Ireland', 'Ecuador', 'Switzerland', 'New Zealand', 'Norway', 'Denmark',
       'Slovakia', 'Azerbaijan', 'Trinidad and Tobago', 'Lithuania']]

reduced_countries_df

,China,United States,India,Russia,Japan,Germany,South Korea,Iran,Saudi Arabia,Canada,...,Ireland,Ecuador,Switzerland,New Zealand,Norway,Denmark,Slovakia,Azerbaijan,Trinidad and Tobago,Lithuania
,,,,,,,,,,,,,,,,,,,,,
1970-01-01,905.871699,4688.522395,232.115878,1314.168301,857.795324,1082.023653,62.582331,79.471579,47.021189,361.593015,...,21.084821,5.021273,NaN,14.013886,36.794233,62.443471,38.452154,35.192170,6.346294,20.220328
1971-01-01,909.657767,4559.408967,233.013554,1315.623251,855.642957,1076.490600,63.270657,85.280971,58.152706,369.173998,...,23.574662,4.482699,NaN,13.822672,35.527326,58.441542,38.417832,35.330777,6.311688,20.293074
1972-01-01,970.674022,4807.030715,242.324830,1379.089133,901.457823,1103.013118,65.195154,95.081179,75.904163,387.942847,...,23.214494,4.478798,NaN,15.953863,38.647219,60.507407,39.154415,37.655766,6.418081,21.634107
1973-01-01,1011.185712,4994.593321,240.799639,1457.188042,1015.392413,1152.534454,80.259110,113.124891,103.208693,407.043701,...,22.785163,5.661045,NaN,17.070750,39.238356,59.578422,40.671493,41.161571,6.682062,23.274664
1974-01-01,1029.343699,4827.419694,258.532045,1529.017739,1013.882856,1122.346500,84.377812,120.070967,108.469917,415.180159,...,24.630869,6.924031,NaN,18.025862,37.730597,53.202612,41.491123,44.423882,6.505548,24.891100
1975-01-01,1179.733887,4612.546577,275.995901,1635.475873,958.157571,1062.396363,91.402037,121.426604,88.984258,404.488810,...,23.173154,7.512017,NaN,16.905396,37.106059,55.516553,42.898723,49.307598,5.897179,27.100596
1976-01-01,1227.090726,4907.271162,294.960588,1690.020667,988.552208,1122.836852,102.187025,140.479253,110.632501,417.109028,...,23.749570,8.571220,NaN,18.632422,39.156901,61.244247,43.697792,51.828712,6.817289,28.227179
1977-01-01,1379.490057,5071.365566,299.905747,1727.377704,1013.479852,1103.091070,116.224370,147.417226,119.363346,431.632436,...,25.350177,9.958098,NaN,19.591799,40.190611,62.973987,45.409827,54.478499,7.597718,29.222086
1978-01-01,1555.775630,5066.244675,267.423683,1833.384816,1013.490477,1141.039931,122.582991,144.496933,127.364534,434.446749,...,25.151653,11.205307,NaN,19.731799,38.874931,62.934926,57.381835,57.262258,8.016837,30.278246
1979-01-01,1593.621377,5105.068431,287.477109,1855.228230,1039.200847,1190.997011,138.956201,134.032361,151.614300,450.121241,...,29.493233,12.143422,NaN,17.971012,41.687175,66.374163,58.407022,57.226205,8.012053,31.310430
1980-01-01,1559.623166,4877.371629,299.509726,1907.136770,1013.138386,1137.986738,141.376991,114.210856,187.533915,454.759210,...,28.353808,12.786695,NaN,18.026760,40.006630,65.821538,62.227187,60.439813,8.660482,32.516167
1981-01-01,1546.147032,4807.962053,329.558615,1902.319500,990.729570,1102.427695,147.877782,113.300214,174.005653,435.014898,...,28.142032,14.087045,NaN,17.832053,36.557256,55.558693,60.793777,62.321184,9.200085,32.911858
1982-01-01,1616.606445,4562.165908,350.058503,1936.974731,948.058098,1055.920028,147.639151,138.691475,178.067499,415.132752,...,27.841288,14.184999,NaN,19.537507,33.137718,57.871374,58.888516,63.714510,10.402519,32.955123
1983-01-01,1701.814645,4541.549765,372.477362,1958.102496,950.011700,1071.523522,160.591236,157.028913,177.082913,410.775697,...,27.452929,13.318055,NaN,19.749016,33.028608,54.364091,58.611412,65.587440,11.003031,33.063746
1984-01-01,1855.956639,4751.807295,407.634913,1977.151305,1017.971265,1087.534492,180.912582,155.067254,132.900104,430.547500,...,27.474186,13.730660,NaN,20.195321,35.005335,56.017271,60.754759,67.230924,11.490921,33.591366
1985-01-01,1871.328784,4777.184181,425.994929,2003.871539,991.578783,1090.120084,189.451266,165.282001,134.976988,431.013058,...,29.069555,14.774007,NaN,20.721768,35.897470,63.839418,60.476385,68.577896,11.628392,33.719671
1986-01-01,1977.304882,4736.598397,463.042318,2061.403099,987.986157,1083.531123,197.231275,154.110100,134.671349,420.858415,...,30.005973,15.518887,NaN,19.756911,38.306921,64.489657,57.653353,70.946202,11.623467,34.031261
1987-01-01,2115.850982,4893.132185,496.782540,2110.351586,994.339481,1074.581501,202.902193,163.012917,145.953090,432.963570,...,31.610327,14.250304,NaN,20.995723,37.033941,62.550790,59.598149,73.185936,11.964772,34.264261
1988-01-01,2276.338804,5114.119641,526.035544,2158.362082,1066.562054,1068.229910,229.095615,164.440163,158.483316,464.624750,...,30.754905,16.051097,NaN,22.263687,38.084746,58.650132,60.497642,77.118185,12.818681,34.194467
1989-01-01,2355.367967,5171.361449,563.747899,2163.772640,1096.639778,1054.328053,240.556339,180.873543,159.873475,480.314889,...,31.782599,16.173814,NaN,22.340607,37.169266,52.968707,60.123281,77.321261,12.798666,33.719193
1990-01-01,2397.508254,5063.855434,594.848229,2355.385056,1149.374640,1018.058517,270.447824,204.513592,172.847353,454.698131,...,32.851400,17.556511,NaN,23.893616,37.324427,53.645121,60.545282,58.076919,12.655708,35.316728
1991-01-01,2532.739115,5022.250719,640.337216,2318.774530,1153.353793,996.282585,295.648926,225.171687,177.096644,447.658616,...,33.397179,17.585317,NaN,24.539031,34.725508,64.327786,52.482924,56.394152,12.894757,37.253882
1992-01-01,2665.268087,5103.479790,662.795818,2137.259189,1161.167481,943.095521,314.734884,240.654372,190.119176,460.063520,...,33.330592,18.529737,NaN,26.272134,37.405557,58.652762,49.058309,45.471163,13.273230,21.164677
1993-01-01,2890.342749,5222.514881,692.531660,1944.127578,1150.087571,934.778312,345.044934,239.694701,199.892478,459.210563,...,33.537608,18.062866,NaN,26.082159,39.494084,60.869301,47.600230,38.099711,12.593921,16.424324
1994-01-01,3070.996736,5305.730607,736.580390,1715.839882,1206.372293,923.815047,372.058800,273.778666,217.156455,476.298944,...,34.814499,18.928501,NaN,26.435609,41.504641,64.958714,45.045410,33.862661,13.603749,15.901933
1995-01-01,3382.890510,5357.610765,791.478718,1674.615087,1221.026171,918.686666,404.473356,278.200975,215.659647,488.583824,...,35.282196,20.774630,NaN,27.138707,41.674762,61.682661,45.516241,32.842636,13.485920,15.245959
1996-01-01,3366.770364,5505.137689,827.831705,1634.757465,1233.256246,945.794714,430.803676,290.314162,229.002902,502.317147,...,36.655986,23.934230,NaN,28.478963,42.033620,75.096790,45.729985,27.534989,14.730212,15.715496
1997-01-01,3426.052311,5678.971047,869.340787,1525.841624,1226.556893,913.623994,453.949837,303.203826,231.673407,518.937774,...,37.953330,24.917884,NaN,30.930398,44.423741,65.220256,45.788796,26.795929,15.089031,15.181671
1998-01-01,3504.389228,5692.989293,884.054167,1521.100395,1187.811501,906.482174,388.361858,301.986641,245.801984,524.988747,...,40.471987,24.456061,NaN,30.416735,46.145578,61.184526,44.787009,26.801625,16.735098,16.004634
1999-01-01,3435.832236,5712.255627,952.580288,1567.902742,1227.737428,873.366469,424.926197,333.105600,251.307676,536.238231,...,41.943569,20.295113,NaN,32.163720,47.788378,58.183020,44.358208,26.492106,17.779611,13.459636
2000-01-01,3672.115994,5915.630723,986.616223,1599.771335,1241.542965,871.071720,483.573385,351.726785,264.167023,557.725045,...,44.228828,21.836180,NaN,33.312026,42.832044,54.051049,42.352153,28.066503,18.542228,11.793720
2001-01-01,3845.809492,5858.215600,1002.651027,1604.552223,1229.132244,887.033052,497.447521,365.965772,274.408083,547.729590,...,46.400717,23.217399,NaN,35.252248,43.328354,55.600322,42.077962,26.714959,20.942751,12.529169
2002-01-01,4148.318534,5778.721634,1042.031951,1587.706147,1268.423228,871.375934,493.264180,382.159006,291.555239,554.451535,...,45.343026,23.562571,NaN,35.366214,42.725947,55.143674,41.698035,26.483292,22.937126,12.615981
2003-01-01,4814.415717,5854.523205,1067.450480,1634.098816,1272.051007,873.547620,497.125661,404.375297,304.651349,574.146773,...,44.823858,23.588544,NaN,36.270519,45.506586,60.561959,41.981661,28.964913,26.463347,12.604519
2004-01-01,5557.300851,5937.553609,1157.022468,1639.771846,1270.273792,857.721113,516.719424,433.757097,321.961127,566.800806,...,45.315276,26.251634,NaN,35.904614,45.917424,54.989880,41.650030,28.686426,28.489884,13.179838
2005-01-01,6264.757325,5946.607167,1210.757383,1622.998391,1276.866199,837.326525,516.316454,468.250910,339.632710,579.613903,...,47.277949,28.332031,NaN,36.685549,44.166202,51.481316,42.171243,30.487616,31.029204,14.079047
2006-01-01,6966.022472,5841.168072,1290.122596,1675.571617,1259.773227,853.264151,523.177578,502.653198,359.860218,573.072156,...,48.269381,29.964324,NaN,36.798798,44.784809,59.403941,41.586526,30.911307,35.860844,14.334606
2007-01-01,7639.914017,5919.491714,1401.218066,1673.164960,1300.209465,821.717206,533.676513,536.276706,379.686497,605.365126,...,47.474301,30.845396,NaN,35.947620,45.806689,54.557608,40.860521,28.091723,35.581121,15.724542
2008-01-01,7807.277725,5730.576010,1488.532590,1677.680860,1213.496078,830.999910,543.636829,546.632127,413.260581,584.762068,...,46.828261,31.506481,NaN,36.784937,46.189233,51.271760,40.794668,31.034030,37.549655,15.631540
2009-01-01,8366.143973,5314.842145,1663.191360,1564.976584,1146.227128,769.569876,550.881759,567.218201,436.735237,549.689165,...,41.636600,34.269068,NaN,33.929213,44.761725,48.926973,36.928702,25.941210,34.494760,13.005375
2010-01-01,9126.942721,5555.444090,1750.563748,1664.667861,1197.422042,816.399432,597.727917,570.040418,478.226291,565.852788,...,41.270697,37.826813,NaN,33.991424,46.748437,49.061121,39.628203,24.745735,38.716016,13.819342
2011-01-01,10026.720144,5425.111739,1847.213865,1748.016660,1249.789204,789.584495,627.881499,580.104115,499.317772,576.241087,...,37.070718,38.485289,NaN,33.301641,45.366153,44.010921,37.888613,28.002949,38.696049,14.188403
2012-01-01,10259.090913,5244.133269,1985.926414,1758.256632,1289.296188,801.377806,630.124679,586.111323,533.830670,577.452449,...,37.766009,39.849494,NaN,35.123275,44.683124,38.829033,36.398620,30.650944,33.558319,14.370492
2013-01-01,10718.579739,5316.463259,2024.083101,1708.422047,1313.474193,819.716281,625.689927,609.013709,545.925077,591.446008,...,36.430765,41.555834,NaN,35.254115,44.022854,40.654686,36.518443,31.520291,35.531630,13.264627
2014-01-01,10836.458234,5389.262507,2218.042197,1693.057387,1273.299828,780.118796,621.606926,632.696718,582.718469,595.280968,...,36.235053,45.105018,NaN,36.158730,44.470301,36.497259,34.041889,32.976322,37.051541,13.117423
2015-01-01,10820.801089,5225.394249,2286.820608,1694.498309,1227.728580,786.435511,638.775782,623.254618,608.803979,589.780110,...,37.844831,44.084777,NaN,35.846093,45.820535,34.043938,34.604879,32.702103,36.356837,13.416076
2016-01-01,10966.733668,5161.072868,2371.086043,1687.271299,1219.489173,790.213431,650.653906,657.975082,617.557677,587.342904,...,38.819702,43.335706,NaN,35.199319,45.493379,35.471251,35.181320,33.223468,35.944218,13.377618
2017-01-01,11087.005161,5128.440907,2445.882929,1688.414681,1219.686103,787.947382,675.438568,694.469927,631.736046,595.018728,...,37.761543,42.389256,NaN,37.354342,49.825458,33.105577,37.889021,31.655183,35.976914,14.317496
2018-01-01,11255.878289,5275.477845,2621.918615,1748.349771,1198.546373,752.654899,695.356740,727.810047,624.987436,594.198154,...,37.206323,44.385872,NaN,36.410681,50.465151,33.130744,38.088038,34.704281,35.950703,14.415245

In [312]:
# Append 2019 data to 1970-2018 data for 66 countries ordered by 2019 ranking
combined_1970to2019_df = reduced_countries_df.append(carbon2019_df)
combined_1970to2019_df

,China,United States,India,Russia,Japan,Germany,South Korea,Iran,Saudi Arabia,Canada,...,Ireland,Ecuador,Switzerland,New Zealand,Norway,Denmark,Slovakia,Azerbaijan,Trinidad and Tobago,Lithuania
,,,,,,,,,,,,,,,,,,,,,
1970-01-01,905.871699,4688.522395,232.115878,1314.168301,857.795324,1082.023653,62.582331,79.471579,47.021189,361.593015,...,21.084821,5.021273,NaN,14.013886,36.794233,62.443471,38.452154,35.192170,6.346294,20.220328
1971-01-01,909.657767,4559.408967,233.013554,1315.623251,855.642957,1076.490600,63.270657,85.280971,58.152706,369.173998,...,23.574662,4.482699,NaN,13.822672,35.527326,58.441542,38.417832,35.330777,6.311688,20.293074
1972-01-01,970.674022,4807.030715,242.324830,1379.089133,901.457823,1103.013118,65.195154,95.081179,75.904163,387.942847,...,23.214494,4.478798,NaN,15.953863,38.647219,60.507407,39.154415,37.655766,6.418081,21.634107
1973-01-01,1011.185712,4994.593321,240.799639,1457.188042,1015.392413,1152.534454,80.259110,113.124891,103.208693,407.043701,...,22.785163,5.661045,NaN,17.070750,39.238356,59.578422,40.671493,41.161571,6.682062,23.274664
1974-01-01,1029.343699,4827.419694,258.532045,1529.017739,1013.882856,1122.346500,84.377812,120.070967,108.469917,415.180159,...,24.630869,6.924031,NaN,18.025862,37.730597,53.202612,41.491123,44.423882,6.505548,24.891100
1975-01-01,1179.733887,4612.546577,275.995901,1635.475873,958.157571,1062.396363,91.402037,121.426604,88.984258,404.488810,...,23.173154,7.512017,NaN,16.905396,37.106059,55.516553,42.898723,49.307598,5.897179,27.100596
1976-01-01,1227.090726,4907.271162,294.960588,1690.020667,988.552208,1122.836852,102.187025,140.479253,110.632501,417.109028,...,23.749570,8.571220,NaN,18.632422,39.156901,61.244247,43.697792,51.828712,6.817289,28.227179
1977-01-01,1379.490057,5071.365566,299.905747,1727.377704,1013.479852,1103.091070,116.224370,147.417226,119.363346,431.632436,...,25.350177,9.958098,NaN,19.591799,40.190611,62.973987,45.409827,54.478499,7.597718,29.222086
1978-01-01,1555.775630,5066.244675,267.423683,1833.384816,1013.490477,1141.039931,122.582991,144.496933,127.364534,434.446749,...,25.151653,11.205307,NaN,19.731799,38.874931,62.934926,57.381835,57.262258,8.016837,30.278246
1979-01-01,1593.621377,5105.068431,287.477109,1855.228230,1039.200847,1190.997011,138.956201,134.032361,151.614300,450.121241,...,29.493233,12.143422,NaN,17.971012,41.687175,66.374163,58.407022,57.226205,8.012053,31.310430
1980-01-01,1559.623166,4877.371629,299.509726,1907.136770,1013.138386,1137.986738,141.376991,114.210856,187.533915,454.759210,...,28.353808,12.786695,NaN,18.026760,40.006630,65.821538,62.227187,60.439813,8.660482,32.516167
1981-01-01,1546.147032,4807.962053,329.558615,1902.319500,990.729570,1102.427695,147.877782,113.300214,174.005653,435.014898,...,28.142032,14.087045,NaN,17.832053,36.557256,55.558693,60.793777,62.321184,9.200085,32.911858
1982-01-01,1616.606445,4562.165908,350.058503,1936.974731,948.058098,1055.920028,147.639151,138.691475,178.067499,415.132752,...,27.841288,14.184999,NaN,19.537507,33.137718,57.871374,58.888516,63.714510,10.402519,32.955123
1983-01-01,1701.814645,4541.549765,372.477362,1958.102496,950.011700,1071.523522,160.591236,157.028913,177.082913,410.775697,...,27.452929,13.318055,NaN,19.749016,33.028608,54.364091,58.611412,65.587440,11.003031,33.063746
1984-01-01,1855.956639,4751.807295,407.634913,1977.151305,1017.971265,1087.534492,180.912582,155.067254,132.900104,430.547500,...,27.474186,13.730660,NaN,20.195321,35.005335,56.017271,60.754759,67.230924,11.490921,33.591366
1985-01-01,1871.328784,4777.184181,425.994929,2003.871539,991.578783,1090.120084,189.451266,165.282001,134.976988,431.013058,...,29.069555,14.774007,NaN,20.721768,35.897470,63.839418,60.476385,68.577896,11.628392,33.719671
1986-01-01,1977.304882,4736.598397,463.042318,2061.403099,987.986157,1083.531123,197.231275,154.110100,134.671349,420.858415,...,30.005973,15.518887,NaN,19.756911,38.306921,64.489657,57.653353,70.946202,11.623467,34.031261
1987-01-01,2115.850982,4893.132185,496.782540,2110.351586,994.339481,1074.581501,202.902193,163.012917,145.953090,432.963570,...,31.610327,14.250304,NaN,20.995723,37.033941,62.550790,59.598149,73.185936,11.964772,34.264261
1988-01-01,2276.338804,5114.119641,526.035544,2158.362082,1066.562054,1068.229910,229.095615,164.440163,158.483316,464.624750,...,30.754905,16.051097,NaN,22.263687,38.084746,58.650132,60.497642,77.118185,12.818681,34.194467
1989-01-01,2355.367967,5171.361449,563.747899,2163.772640,1096.639778,1054.328053,240.556339,180.873543,159.873475,480.314889,...,31.782599,16.173814,NaN,22.340607,37.169266,52.968707,60.123281,77.321261,12.798666,33.719193
1990-01-01,2397.508254,5063.855434,594.848229,2355.385056,1149.374640,1018.058517,270.447824,204.513592,172.847353,454.698131,...,32.851400,17.556511,NaN,23.893616,37.324427,53.645121,60.545282,58.076919,12.655708,35.316728
1991-01-01,2532.739115,5022.250719,640.337216,2318.774530,1153.353793,996.282585,295.648926,225.171687,177.096644,447.658616,...,33.397179,17.585317,NaN,24.539031,34.725508,64.327786,52.482924,56.394152,12.894757,37.253882
1992-01-01,2665.268087,5103.479790,662.795818,2137.259189,1161.167481,943.095521,314.734884,240.654372,190.119176,460.063520,...,33.330592,18.529737,NaN,26.272134,37.405557,58.652762,49.058309,45.471163,13.273230,21.164677
1993-01-01,2890.342749,5222.514881,692.531660,1944.127578,1150.087571,934.778312,345.044934,239.694701,199.892478,459.210563,...,33.537608,18.062866,NaN,26.082159,39.494084,60.869301,47.600230,38.099711,12.593921,16.424324
1994-01-01,3070.996736,5305.730607,736.580390,1715.839882,1206.372293,923.815047,372.058800,273.778666,217.156455,476.298944,...,34.814499,18.928501,NaN,26.435609,41.504641,64.958714,45.045410,33.862661,13.603749,15.901933
1995-01-01,3382.890510,5357.610765,791.478718,1674.615087,1221.026171,918.686666,404.473356,278.200975,215.659647,488.583824,...,35.282196,20.774630,NaN,27.138707,41.674762,61.682661,45.516241,32.842636,13.485920,15.245959
1996-01-01,3366.770364,5505.137689,827.831705,1634.757465,1233.256246,945.794714,430.803676,290.314162,229.002902,502.317147,...,36.655986,23.934230,NaN,28.478963,42.033620,75.096790,45.729985,27.534989,14.730212,15.715496
1997-01-01,3426.052311,5678.971047,869.340787,1525.841624,1226.556893,913.623994,453.949837,303.203826,231.673407,518.937774,...,37.953330,24.917884,NaN,30.930398,44.423741,65.220256,45.788796,26.795929,15.089031,15.181671
1998-01-01,3504.389228,5692.989293,884.054167,1521.100395,1187.811501,906.482174,388.361858,301.986641,245.801984,524.988747,...,40.471987,24.456061,NaN,30.416735,46.145578,61.184526,44.787009,26.801625,16.735098,16.004634
1999-01-01,3435.832236,5712.255627,952.580288,1567.902742,1227.737428,873.366469,424.926197,333.105600,251.307676,536.238231,...,41.943569,20.295113,NaN,32.163720,47.788378,58.183020,44.358208,26.492106,17.779611,13.459636
2000-01-01,3672.115994,5915.630723,986.616223,1599.771335,1241.542965,871.071720,483.573385,351.726785,264.167023,557.725045,...,44.228828,21.836180,NaN,33.312026,42.832044,54.051049,42.352153,28.066503,18.542228,11.793720
2001-01-01,3845.809492,5858.215600,1002.651027,1604.552223,1229.132244,887.033052,497.447521,365.965772,274.408083,547.729590,...,46.400717,23.217399,NaN,35.252248,43.328354,55.600322,42.077962,26.714959,20.942751,12.529169
2002-01-01,4148.318534,5778.721634,1042.031951,1587.706147,1268.423228,871.375934,493.264180,382.159006,291.555239,554.451535,...,45.343026,23.562571,NaN,35.366214,42.725947,55.143674,41.698035,26.483292,22.937126,12.615981
2003-01-01,4814.415717,5854.523205,1067.450480,1634.098816,1272.051007,873.547620,497.125661,404.375297,304.651349,574.146773,...,44.823858,23.588544,NaN,36.270519,45.506586,60.561959,41.981661,28.964913,26.463347,12.604519
2004-01-01,5557.300851,5937.553609,1157.022468,1639.771846,1270.273792,857.721113,516.719424,433.757097,321.961127,566.800806,...,45.315276,26.251634,NaN,35.904614,45.917424,54.989880,41.650030,28.686426,28.489884,13.179838
2005-01-01,6264.757325,5946.607167,1210.757383,1622.998391,1276.866199,837.326525,516.316454,468.250910,339.632710,579.613903,...,47.277949,28.332031,NaN,36.685549,44.166202,51.481316,42.171243,30.487616,31.029204,14.079047
2006-01-01,6966.022472,5841.168072,1290.122596,1675.571617,1259.773227,853.264151,523.177578,502.653198,359.860218,573.072156,...,48.269381,29.964324,NaN,36.798798,44.784809,59.403941,41.586526,30.911307,35.860844,14.334606
2007-01-01,7639.914017,5919.491714,1401.218066,1673.164960,1300.209465,821.717206,533.676513,536.276706,379.686497,605.365126,...,47.474301,30.845396,NaN,35.947620,45.806689,54.557608,40.860521,28.091723,35.581121,15.724542
2008-01-01,7807.277725,5730.576010,1488.532590,1677.680860,1213.496078,830.999910,543.636829,546.632127,413.260581,584.762068,...,46.828261,31.506481,NaN,36.784937,46.189233,51.271760,40.794668,31.034030,37.549655,15.631540
2009-01-01,8366.143973,5314.842145,1663.191360,1564.976584,1146.227128,769.569876,550.881759,567.218201,436.735237,549.689165,...,41.636600,34.269068,NaN,33.929213,44.761725,48.926973,36.928702,25.941210,34.494760,13.005375
2010-01-01,9126.942721,5555.444090,1750.563748,1664.667861,1197.422042,816.399432,597.727917,570.040418,478.226291,565.852788,...,41.270697,37.826813,NaN,33.991424,46.748437,49.061121,39.628203,24.745735,38.716016,13.819342
2011-01-01,10026.720144,5425.111739,1847.213865,1748.016660,1249.789204,789.584495,627.881499,580.104115,499.317772,576.241087,...,37.070718,38.485289,NaN,33.301641,45.366153,44.010921,37.888613,28.002949,38.696049,14.188403
2012-01-01,10259.090913,5244.133269,1985.926414,1758.256632,1289.296188,801.377806,630.124679,586.111323,533.830670,577.452449,...,37.766009,39.849494,NaN,35.123275,44.683124,38.829033,36.398620,30.650944,33.558319,14.370492
2013-01-01,10718.579739,5316.463259,2024.083101,1708.422047,1313.474193,819.716281,625.689927,609.013709,545.925077,591.446008,...,36.430765,41.555834,NaN,35.254115,44.022854,40.654686,36.518443,31.520291,35.531630,13.264627
2014-01-01,10836.458234,5389.262507,2218.042197,1693.057387,1273.299828,780.118796,621.606926,632.696718,582.718469,595.280968,...,36.235053,45.105018,NaN,36.158730,44.470301,36.497259,34.041889,32.976322,37.051541,13.117423
2015-01-01,10820.801089,5225.394249,2286.820608,1694.498309,1227.728580,786.435511,638.775782,623.254618,608.803979,589.780110,...,37.844831,44.084777,NaN,35.846093,45.820535,34.043938,34.604879,32.702103,36.356837,13.416076
2016-01-01,10966.733668,5161.072868,2371.086043,1687.271299,1219.489173,790.213431,650.653906,657.975082,617.557677,587.342904,...,38.819702,43.335706,NaN,35.199319,45.493379,35.471251,35.181320,33.223468,35.944218,13.377618
2017-01-01,11087.005161,5128.440907,2445.882929,1688.414681,1219.686103,787.947382,675.438568,694.469927,631.736046,595.018728,...,37.761543,42.389256,NaN,37.354342,49.825458,33.105577,37.889021,31.655183,35.976914,14.317496
2018-01-01,11255.878289,5275.477845,2621.918615,1748.349771,1198.546373,752.654899,695.356740,727.810047,624.987436,594.198154,...,37.206323,44.385872,NaN,36.410681,50.465151,33.130744,38.088038,34.704281,35.950703,14.415245
2019-01-01,9622.140000,5076.200000,2525.080000,1530.600000,1150.060000,728.890000,705.560000,663.320000,594.350000,551.840000,...,39.050000,37.250000,36.55,36.240000,35.270000,34.080000,32.290000,32.140000,20.960000,11.940000

# Save data to MongoDB

# Dataframes to save: 
# 1970-2019(66 countries: ordered by 2019 emission ranking) and 1970-2018(208 countries: aphabetical order)

In [ ]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [ ]:
# Define database and collection
db = client.globalco2emission_db
collection = db.bycountry

In [ ]:
# Insert dataframe into MongoDB
# convert the dataframe into a dictionary (MongoDB uses JSON format data)and then insert it into the database
# data.reset_index(inplace=True)
# data_dict = data.to_dict("records")
# company.insert_one({"index":"Sensex","data":data_dict})
# collection.insert_one(dataframe)